<div class="grid">
{% for asset in section.assets -%}
  {%- if asset is matching("[.](jpg|png|JPG)$") -%}
    {% set meta = get_image_metadata(path=asset) %}

    {% set class = "" %}

    {% if (meta.width / meta.height) > 1.1 %}
      {% set class = "grid-item--width2" %}
      {% set resize_width = 300 %}
      {% set resize_height = 150 %}
    {% elif (meta.width / meta.height) < 0.9 %}
      {% set class = "grid-item--height2" %}
      {% set resize_width = 150 %}
      {% set resize_height = 300 %}
    {% else %}
      {% set resize_width = 150 %}
      {% set resize_height = 150 %}
    {% endif %}

    {% set image = resize_image(path=asset, width=resize_width, height=resize_height, op="fill") %}

    <div class="grid-item {{ class }}">
      <img src="{{ image.url }}" />
    </div>

  {%- endif %}
{%- endfor %}
</div>
