<div class="grid">
{% for asset in section.assets -%}
  {%- if asset is matching("[.](jpg|png|JPG)$") -%}
    {% set meta = get_image_metadata(path=asset) %}

    {% set class = "" %}

    {% if (meta.width / meta.height) > 1.1 %}
      {% set class = "grid-item--width3" %}
    {% elif (meta.width / meta.height) > 1.6 %}
      {% set class = "grid-item--width4" %}
    {% elif (meta.width / meta.height) < 0.9 %}
      {% set class = "grid-item--height3" %}
    {% elif (meta.width / meta.height) < 0.6 %}
      {% set class = "grid-item--height4" %}
    {% endif %}

    {% set image = resize_image(path=asset, width=config.extra.image_size, height=config.extra.image_size, op="fit") %}

    <div class="grid-item {{ class }}">
      <a href="{{ image.url }}" data-lightbox="image">
        <img src="{{ image.url }}" />
      </a>
    </div>

  {%- endif %}
{%- endfor %}
</div>
