.grid-sizer {
    width: 10vw;
}

.grid-item {
    float: left;
    width: 20vw;
    height: 20vw;
}

img {
    width: 100%;
    height: 100%;
}

.grid-item--width3 {
    width: 30vw;
}
.grid-item--width4 {
    width: 40vw;
}

.grid-item--height3 {
    height: 30vw;
}
.grid-item--height4 {
    height: 40vw;
}
