<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Lothar Posdziech</title>

  <!-- Reset CSS -->
  <link rel="stylesheet" href="https://unpkg.com/reset-css@^5/reset.css">
  <link rel="stylesheet" href="custom.css">
  <link rel="stylesheet" href="https://unpkg.com/lightbox2@2.11.4/dist/css/lightbox.min.css">

  <!-- jQuery -->
  <script src="https://www.unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>

  <!-- Masonry https://masonry.desandro.com/ -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="grid.js"></script>

  <!-- Lightbox2 -->
  <script src="https://unpkg.com/lightbox2@2.11.4/dist/js/lightbox.min.js"></script>




  <script>
    lightbox.option({
      'fadeDuration': 300,
      'imageFadeDuration': 50,
      'resizeDuration': 100,
      'wrapAround': true
    })
  </script>
</head>

<body>
  <main>
  {% block content %} {% endblock %}
  </main>
</body>

</html>
